body {
    background-color: #011425;
    padding: 0px;
    margin: 0px;
}
.navbar {
    text-align: end;
    font-size: 30px;
    background-color: #952525;
    height: 120px;
    width: 14.5%;
    font-family: "Lato", sans-serif;
    display: inline-block;
    color: white;
    align-items: flex-end;
  }
.jun, .junn {
    color: white;
}
.jun {   
    position: absolute;
    display: flex;
    right: 1590px;
    font-size: 80px;
    top: 34px;
}
.namebar {

}
.junn {
    position: absolute;
    display: flex;
    right: 1540px;
    top: 59px;
    font-size: 50px;
}
.menuBar {
    color: white;
    font-family: "Lato", sans-serif;  
    list-style-type: none;
    float: right;
    justify-content: right;
}
.navbar-nav, .nav-item, .nav-link{
    color: white;
    font-family: "Lato", sans-serif;  
    list-style-type: none;
    float: right;
    justify-content: right;
    position: relative;
    display: inline;
    margin: 20px;
    top: 7px;
}
.redbar {
    background-color: #952525;
    width: 523px;
    height: 1px;
    position: absolute;
    top: 117px;
    right: 0px;
  }
  .title {
      color: white;
      display: flex;
      position: absolute;
      font-size: 80px;
      right: 540px;
      top: 200px;
      font-family: 'Handlee', cursive;
  }
  .boatpic {
      display: flex;
      position: absolute;
      top: 350px;
      left: 500px;     
      opacity: .8;
      
  }
  .quotebox {
      background-color: turquoise;
      width: 360px;
      height: 200px;
      position: absolute;      
      left: 1200px;
      top: 600px;
      opacity: .5;
  }
  .quote {
      color: white;
      width: 350px;
      height: 190px;
      font-size: 30px;
      text-align: center;
      position: absolute;      
      left: 1200px;
      top: 608px;
  }
  .firstsection {
      background-color: #062b4b;
      height: 800px;
      padding-top: 100px;
      position: absolute;
  }
.sideMenu {
   
    display: flex;
    position: absolute;
    color: white;
    list-style-type: none;
    left: 100px;
    top: 346px;
}

 .sideMenu, .sideList {
    width: 350px;
    height: 100px;
    display: inline;
    float: right;
    font-size: 25px;
 }
 .jumbotron {
     background-color: teal;
     width: 1245px;
     display: flex;
     position: absolute;
     top: 1000px;
     right: 50px;
     height: 850px;
     color: white;
     border-radius: 0%;
 }
.btn {
    height: 50px;
}
.intro, .intro2 {
    font-family: 'Quicksand', sans-serif;
}
.intro {
    font-size: 25px;
    display: flex;
    position: absolute;
    top: 150px;
    width: 700px;
    right: 30px;
}
.intro2 {
    font-size: 25px;
    display: flex;
    position: absolute;
    top: 380px; 
    width: 700px;
    right: 30px;   
}
.display-4 {
    font-family: 'Noto Serif', serif;
    font-size: 60px;
    display: flex;
    position: absolute;
    top: 30px;   
}
.intropic {
    opacity: .96999;
    display: flex;
    position: absolute;
    top: 140px;
    right: 750px;
}
.theproblem {
    color: white;
    display: flex;
    position: absolute;
    top: 600px;
    font-family: 'Nunito Sans', sans-serif;
    left: 520px;
}
.theProblem {
    font-size: 25px;
    display: flex;
    position: absolute;
    width: 1200px;
    font-family: 'Quicksand', sans-serif;
    top: 670px;
}
.jumbotron1 {
    background-color: rgb(158, 116, 158);
    width: 1245px;
    display: flex;
    position: absolute;
    top: 1900px;
    right: 50px;
    height: 2830px;     
}
.display-5 {
    font-family: 'Noto Serif', serif;
    font-size: 60px;
    display: flex;
    position: absolute;
    top: 40px;  
    left: 28px;  
    color: white;   
}
.interview {
    display: flex;
    position: absolute;
    top: 180px;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    left: 550px;
}
.intpic {
    display: flex;
    position: absolute;
    left: 240px;
    top: 240px;
    opacity: .8;
}
.int-1 {
    color: white;
    font-size: 25px;
    display: flex;
    position: absolute;
    width: 1200px;
    font-family: 'Quicksand', sans-serif;
    top: 770px;
    left: 30px;

}
.affinity {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    display: flex;
    position: absolute;
    left: 500px;
    top: 1080px;
}
.affpic {
    display: flex;
    position: absolute;
    left: 240px;
    top: 1145px;
}
.aff-1 {
    color: white;
    font-size: 25px;
    display: flex;
    position: absolute;
    width: 1200px;
    font-family: 'Quicksand', sans-serif;
    top: 1670px;
    left: 30px;
}
.aff-2 {
    color: white;
    font-size: 25px;
    display: flex;
    position: absolute;
    width: 1200px;
    font-family: 'Quicksand', sans-serif;
    top: 1850px;
    left: 30px;    
}
.persona {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    display: flex;
    position: absolute;
    left: 500px;
    top: 2070px;
}
.jose {
    display: flex;
    position: absolute;
    left: 240px;
    top: 2135px;
}
.pers-1 {
    color: white;
    font-size: 25px;
    display: flex;
    position: absolute;
    width: 1200px;
    font-family: 'Quicksand', sans-serif;
    top: 2658px;
    left: 30px;    
}
.jumbotron2 {
    background-color: rgb(223, 221, 117);
    width: 1245px;
    display: flex;
    position: absolute;
    top: 4790px;
    right: 50px;
    height: 3330px;  
    margin-bottom: 300px;
}
.display-6 {
    font-family: 'Noto Serif', serif;
    font-size: 60px;
    display: flex;
    position: absolute;
    top: 40px;  
    left: 28px;  
    color: rgb(0, 0, 0);  
}
.sketchpic {
    display: flex;
    position: absolute;
    left: 240px;
    top: 240px;
}
.iteration {
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(0, 0, 0);  
    display: flex;
    position: absolute;
    left: 500px;
    top: 180px;
}
.sketch-1 {
    color: rgb(0, 0, 0);  
    font-size: 25px;
    display: flex;
    position: absolute;
    width: 1200px;
    font-family: 'Quicksand', sans-serif;
    top: 770px;
    left: 30px; 
}
.lofi {
    display: flex;
    position: absolute;
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(0, 0, 0);  
    left: 565px;
    top: 1000px;
}
.lofipic {
    display: flex;
    position: absolute;
    left: 240px;
    top: 1065px;
}
.lofi1 { 
    color: rgb(0, 0, 0);  
    font-size: 25px;
    display: flex;
    position: absolute;
    width: 1200px;
    font-family: 'Quicksand', sans-serif;
    top: 1590px;
    left: 30px;     
}
.hifi {
    display: flex;
    position: absolute;
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(0, 0, 0);  
    left: 565px;
    top: 1855px;   
}
.hifipic {
    display: flex;
    position: absolute;
    left: 55px;
    top: 1915px;
}
.hifipic2 {
    display: flex;
    position: absolute;
    left: 640px;
    top: 1915px;
}
.hifi-2 {
    color: rgb(0, 0, 0);  
    font-size: 25px;
    display: flex;
    position: absolute;
    width: 1200px;
    font-family: 'Quicksand', sans-serif;
    top: 2335px;
    left: 30px;     
}
.prototype {
    display: flex;
    position: absolute;
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(0, 0, 0);  
    left: 565px;
    top: 2585px;   
}
.protolink {
    display: flex;
    position: absolute;
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(0, 0, 0);  
    left: 535px;
    top:3185px; 
    font-size: 25px;
    color: blue;    
    text-decoration: underline;
}
.svgpic {
    display: flex;
    position: absolute;
    left: 240px;
    top: 2640px;
}
footer {
    color: white;
    font-family: "Lato", sans-serif;
    padding-top: 500px;
    margin: 0px;
    height: 150px;
    display: flex;
    position: absolute;
    top: 7300px;
}
.logofooter {
    background-color: #952525;
    display: flex;
    position: absolute;
    width: 300px;
    height: 133px;
    top: 1020px;
    margin-bottom: 0px;
}
.junfooter {
    width: fit-content;
    height: 0px;
    font-size: 60px;
    position: relative;
    top: 62px;
    left: 184px;  
}
.junnfooter {
    width: fit-content;
    height: 0px;
    font-size: 40px;
    position: relative;
    top:75px;
    left: 190px;
}
.slashfooter {
    position: relative;
    height: 50px;
    width: 1px;
    background-color: white;
    top: 70px;
    left: 185px;
}
.menuNavBottom {
    position: absolute;
    top: 925px;
    display: flex;
    list-style-type: none;
    margin-right: 9px;
}
.redbarfooter {
    background-color: #952525;
    width: 790px;
    height: 1px;
    position: relative;
    top: 372px;
    right: 1000px;
    padding: 0px;
}
.space {
    padding-right: 100px;
}